<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nifi Utils - About</title>
    <link href="../../bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/misc.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br><br>
        <div class="p-4 mb-2 bg-dark rounded-3">
            <div class="container-fluid py-5">
                <img src="../../assets/extension_icons/icon_128.png" class="img-fluid">
                <h1 class="display-5 fw-bold">Nifi Utils</h1>
                <p class="col fs-4">This extension eases the process of maintaining huge production nifi instances with
                    numerous flows.</p>
                <br>
                <a href="https://github.com/karthikchiru12/Nifi-Utils-Chrome-Extension"><img
                        src="../../assets/misc_icons/github.svg" class="img-fluid"></img></a>
                <br><br>
                <div class="alert" role="alert" id="description_message">
                    <h4 class="alert-heading" id="status">Successfully Installed...!</h4>
                    <p>This extension <u>only works on Nifi instances that are deployed / productionized</u>. When
                        installed, it identifies when a logged-in Nifi instance is opened in the currently active tab in
                        the browser. Then it inserts a <u>content script</u>, which retrieves the <b>JWT</b> (JSON Web
                        Token) token and hostname from the currently active tab to the extension. Then using that token
                        and
                        the instance`s hostname, one can retrieve a list of all the process groups present on the
                        screen, bookmark any process group by adding them to the queue, and search for any process
                        group.
                        All the results by any of the features provided are cached to be viewed later. The operation of
                        getting the hostname and JWT token should be performed, whenever the user wants to fetch or
                        search for new data or update existing data. Once any process group is fetched/searched from any
                        instance, it
                        will be available to be searched from the chrome search itself indefinitely until the extension
                        is uninstalled.</p>
                    <hr>
                    <p class="mb-0">Anger is a statement, well like a statement after <code>return;</code> statement. It
                        is of no use. But on the other hand, constructive criticism is definitely of some use. So, if
                        you find any bugs or you don't like this extension, Be patient & provide feedback on the same.
                        Will try to improve it to the best of my ability.
                    </p>
                </div>
            </div>
        </div>
        <br><br>

        <div class="container-fluid">
            <br><br><br><br>
            <div class="row gx-4">
                <div class="col my-auto">
                    <div>
                        <ul>
                            <li>When the button &nbsp; <button class="btn btn-primary">Fetch Process groups</button>
                                &nbsp; is
                                clicked, the extension retrieves all the process groups present on the screen in Nifi
                                into a HTML table inside the extension. </li><br>
                            <li>And the records can be filtered by searching for a process group name. Also the process
                                groups can be sorted by number of running, stopped, invalid, disabled processor counts
                                by clicking on the corresponding column name.</li><br>
                            <li>
                                And when the &nbsp; <button class="btn btn-primary">Clear</button>
                                &nbsp; button is clicked, the cached process groups are cleared.
                            </li>
                        </ul>


                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark">
                        <h5 class="card-header">Fetching Process Groups</h5>
                        <div class="card-body">

                            <p class="card-text">All process groups visible on the current Nifi screen are fetched
                                inside the extension.</p>
                            <img src="../../assets/screenshots/1.png" class="img-fluid img-thumbnail bg-dark" ,
                                style="border :0;">
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="row gx-4">
                <div class="col">
                    <div class="card text-bg-dark">
                        <h5 class="card-header">Adding To The queue</h5>
                        <div class="card-body">

                            <p class="card-text">The process groups can be bookmarked, by adding them to the queue.</p>
                            <img src="../../assets/screenshots/2.png" class="img-fluid img-thumbnail bg-dark" ,
                                style="border :0;">
                        </div>
                    </div>
                </div>
                <div class="col my-auto">

                    <div>
                        <ul>
                            <li>When the button &nbsp; <button class="btn btn-primary">+</button>
                                &nbsp; is
                                clicked, the corresponding process group is added to the queue. </li><br>
                            <li>Alternatively, all process groups can be added to the queue by clicking on the &nbsp;
                                <button class="btn btn-primary">Add all items to queue</button>
                                &nbsp; button.
                            </li><br>
                        </ul>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="row gx-4">
                <div class="col my-auto">
                    <div>
                        <ul>
                            <li>When the button &nbsp; <button class="btn btn-primary">-</button>
                                &nbsp; is
                                clicked, the corresponding process group is removed from the queue.</li><br>
                            <li>The queue will be copied onto the clipboard in the form of CSV data, by clicking on the
                                &nbsp; <button class="btn btn-primary">Copy</button>
                                &nbsp; button. </li><br>
                            <li>The items cached in the queue will be cleared, by clicking on the &nbsp; <button
                                    class="btn btn-primary">Clear Queue</button>
                                &nbsp; button. </li><br>
                        </ul>


                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark">
                        <h5 class="card-header">Managing the queue</h5>
                        <div class="card-body">

                            <p class="card-text">Items in the queue can be cleared or copied onto the clipboard as CSV
                                data.</p>
                            <img src="../../assets/screenshots/3.png" class="img-fluid img-thumbnail bg-dark" ,
                                style="border :0;">
                        </div>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <div class="row gx-4">
                <div class="col">
                    <div class="card text-bg-dark">
                        <h5 class="card-header">Global Search For Process Groups</h5>
                        <div class="card-body">

                            <p class="card-text">Unlike fetch process groups, which just fetches the process groups
                                present on the screen, This feature searches for the given keyword in whole of the
                                current Nifi instance.</p>
                            <img src="../../assets/screenshots/4.png" class="img-fluid img-thumbnail bg-dark" ,
                                style="border :0;">
                        </div>
                    </div>
                </div>
                <div class="col my-auto">
                    <div>
                        <ul>
                            <li>When the button &nbsp; <button class="btn btn-primary">Search</button>
                                &nbsp; is
                                clicked, with some keyword provided in the search box, the search results are fetched
                                and displayed inside the extension.</li><br>
                            <li>The search results will be copied onto the clipboard in the form of CSV data, by
                                clicking on the &nbsp; <button class="btn btn-primary">Copy Search Results</button>
                                &nbsp; button. </li><br>
                            <li>The items cached in the search results will be cleared, by clicking on the &nbsp;
                                <button class="btn btn-primary">Clear Search Results</button>
                                &nbsp; button.
                            </li><br>
                        </ul>


                    </div>
                </div>
            </div>
            <br><br><br><br><br><br><br><br>
            <div class="row gx-4">
                <div class="col my-auto">
                    <div>
                        <ul>
                            <li>
                                Typing the keyword <h1><b>nu</b></h1> and then pressing <h1><b>spacebar</b></h1> key in
                                the chrome`s search bar will enable omni box search. Where all the process groups can be
                                searched and opened in a jiffy.
                            </li>
                        </ul>


                    </div>
                </div>
                <div class="col">
                    <div class="card text-bg-dark">
                        <h5 class="card-header">Searching Directly From Omni Box</h5>
                        <div class="card-body">

                            <p class="card-text">Once any process group is fetched/searched from any instance, it
                                will be available to be searched from the chrome search itself indefinitely until the
                                extension is uninstalled.
                            </p>
                            <img src="../../assets/screenshots/5.png" class="img-fluid img-thumbnail bg-dark" ,
                                style="border :0;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../js/misc.js"></script>
    </div>
</body>

</html>