<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../css/home.css">
  <link rel="stylesheet" href="../css/misc.css">
  <title>Nifi Utils</title>
</head>

<body>
  <div class="container-fluid">
    <br><br>
    <a href="https://chiranjeevikarthik.me/Nifi-Utils/?status=tutorial" target="_blank"
      style="text-decoration: none; color :white; cursor:help;">
      <h2 class="h2" style="white-space:nowrap;"><img class="img-fluid"
          src="../../assets/extension_icons/icon_48.png">Nifi Utils</h2>
    </a>
    <p class="p" id="utcTime" style="white-space:nowrap;">loading...</p>
    </span>
    <p class="p" id="omniStoreSize">Search store size : </p><br>
    <p class="p">Instance :</p>
    <div id="instanceName" class="border">
      Not Connected
    </div>
    <br><br>
    <div id="basic-controls">
      <h3 class="h3 text-indigo">Basic Controls</h3><br>
      <div>
        <button id="signIn" class="btn btn-sm btn-primary" title="Sign in using google">Sign in</button>
        <p id="accountDetails"></p>
      </div><br>
      <button id="goToQueue" class="btn btn-sm btn-primary" title="Scroll to the queue">Go to queue</button><br><br>
      <button id="goToGlobalSearch" class="btn btn-sm btn-primary" title="Scroll to the global search">Go to
        search</button><br><br>
      <button id="openScriptsReport" class="btn btn-sm btn-primary" title="Open Script Report">Scripts Discovery Report</button>
    </div>
    <hr class="border border-primary border-2 opacity-75">
    <div class="processGroups">
      <h3 class="h3 text-indigo">Process Groups</h3><br>
      <button id="getProcessGroups" class="btn btn-sm btn-primary"
        title="Fetches all the process groups&#013;And their details onto the extension">Fetch Process
        Groups</button><br>
      <button id="addAllItemsToQueue" class="btn btn-sm btn-primary" title="Add all items to the queue">Add all items to
        queue</button><br>
      <button id="clearProcessGroupsResult" class="btn btn-sm btn-primary"
        title="Clear the process groups result">Clear</button><br>
      <div id="processGroupsResult"></div>
    </div>
    <hr class="border border-primary border-2 opacity-75">
    <div class="queue">
      <h3 class="h3 text-indigo">Queue</h3><br>
      <button id="clearQueue" class="btn btn-sm btn-primary" title="Clears the queue">Clear Queue</button><br>
      <button id="copyQueue" class="btn btn-sm btn-primary" title="Copies the queue data in csv format">Copy
        Queue</button><br><br>
      <div id="queueResult"></div>
    </div>
    <hr class="border border-primary border-2 opacity-75">
    <div class="globalSearch">
      <h3 class="h3 text-indigo">Global Search</h3><br>
      <input type="text" id="searchKeyword" class="form-control form-control-sm w-auto"
        placeholder="Type the keyword to search"><br>
      <button id="getSearchResults" class="btn btn-sm btn-primary"
        title="Searches for given keyword&#013;In the current Nifi instance&#013;(Only process group level)">Search</button><br>
      <button id="copySearchResults" class="btn btn-sm btn-primary"
        title="Copies the search results data in csv format">Copy
        Search Results</button><br>
      <button id="clearSearchResult" class="btn btn-sm btn-primary" title="Clears the search results">Clear Search
        Results</button><br>
      <div id="searchResult"></div>
    </div>
    <!-- <hr class="border border-primary border-2 opacity-75">
    <div class="controllerServices">
      <h3 class="h3 text-indigo">Controller<br>Services</h3><br>
      <button id="getControllerServices" class="btn btn-sm btn-primary"
        title="Fetches the controller services&#013;In the current process group level">Fetch Services</button><br>
    </div> -->
    <br><br>
  </div>
  <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
  <script src="../js/utils.js"></script>
</body>

</html>