<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nifi Utils - Login</title>
    <link href="../../bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="../css/misc.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br><br>
        <div class="p-4 mb-2 bg-dark rounded-3">
            <div class="container-fluid py-5">
                <img src="../../assets/extension_icons/icon_128.png" class="img-fluid">
                <h1 class="display-5 fw-bold">Nifi Utils</h1>
                <p class="col fs-5">By logging in to the extension using your google account, you can upload any flow`s template onto your drive.</p>
                <br>
                <br><br>
                <div class="text-center m-auto">
                    <button class="btn btn-signin-google" id="signInWithGoogle"><img class="img-fluid" src="../../assets/misc_icons/btn_google_signin_dark_pressed_web.png"/></button>
                    <p id="accountDetails"></p>
                </div>
                
            </div>
        </div>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
        <script src="../js/oauth.js"></script>
    </div>
</body>

</html>