<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/options.css" rel="stylesheet">
    <title>Options - Nifi Utils</title>
</head>

<body>
    <div>
        <h3 style="color:#4CAAB8;">Enable or Disable Custom UI Components :</h3><br><br>
        <div>
            <label><span style="color:#4CAAB8;">&diams; </span> Copy JWT token component : </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="copy_jwt_token_component" value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="copy_jwt_token_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#4CAAB8;">&diams; </span> Copy link component : </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="copy_link_component" value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="copy_link_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#4CAAB8;">&diams; </span> Enable all controller services component :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="enable_all_controller_services_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="enable_all_controller_services_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#4CAAB8;">&diams; </span> Disable all controller services component :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="disable_all_controller_services_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="disable_all_controller_services_component" value="disable">
        </div>
    </div><br><br>
    <button class="save-button" id="saveCurrentOptions"><b>Save</b></button>
    <script src="../js/options.js"></script>
</body>

</html>