<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="script-src-elem 'self';">
    <link rel="stylesheet" href="../../bootstrap/bootstrap.min.css">
    <link href="../css/options.css" rel="stylesheet">
    <title>Options - Nifi Utils</title>
</head>

<body>
    <div>
        <h3 style="color:wheat;">Enable or Disable Custom UI Components :</h3><br><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Copy JWT token component : </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="copy_jwt_token_component" value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="copy_jwt_token_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Copy link component : </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="copy_link_component" value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="copy_link_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Enable all controller services component :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="enable_all_controller_services_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="enable_all_controller_services_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Disable all controller services component :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="disable_all_controller_services_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="disable_all_controller_services_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Upload to google drive :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="upload_to_drive_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="upload_to_drive_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Live JVM metrics <span style="color: crimson;" title="Still under development, disable if you notice any issues."><b>[EXPERIMENTAL]</b></span> :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="live_jvm_metrics_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="live_jvm_metrics_component" value="disable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Refresh Interval : &nbsp;&nbsp;
            <input type="range" id="live_jvm_metrics_refresh_interval" min="5" max="300" step="5" value="5">&nbsp;&nbsp;<span id="refresh_interval_value">5 seconds</span>
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Copy & Paste flows across environments <span style="color: crimson;" title="Still under development, disable if you notice any issues."><b>[EXPERIMENTAL]</b></span> :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="copy_flow_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="copy_flow_component" value="disable">
            &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-primary" id="flush_copy_paste_cache">Flush cache</button>
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Service info <span style="color: crimson;" title="Still under development, disable if you notice any issues."><b>[EXPERIMENTAL]</b></span> :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="service_info_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="service_info_component" value="disable">
        </div><br>
        <div>
            <label><span style="color:#189AB4;">&diams; </span> Discover Scripts <span style="color: crimson;" title="Still under development, disable if you notice any issues."><b>[EXPERIMENTAL]</b></span> :
            </label>&nbsp;&nbsp;
            <label style="color:lightseagreen;">Enable</label>
            <input type="radio" id="enable" name="discover_scripts_component"
                value="enable">&nbsp;&nbsp;|&nbsp;&nbsp;
            <label style="color:coral;">Disable</label>
            <input type="radio" id="disable" name="discover_scripts_component" value="disable">
        </div>
    </div><br><br>
    <button class="btn btn-sm btn-primary" id="saveCurrentOptions"><b>Save</b></button>
    <script src="../../bootstrap/bootstrap.bundle.min.js"></script>
    <script src="../js/options.js"></script>
</body>

</html>