<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/custom_styles.css">
  <title>Nifi Utils</title>
</head>

<body>
  <div class="extension-title">
    <h2>Nifi Utils</h2>
  </div>
  <div id="instance-name"><span style="color:tomato; font-size:24px; width:100%;"><b>Not Connected</b></span></div>
  <div id="basic-controls">
    <p id="utc-time">loading...</p>
    <h2 style="color:#4CAAB8; ">Basic Controls</h2><br>
    <button id="getInstanceName" class="normal-button" title="If a nifi instance is opened in active tab&#013;Retreives the nifi instance host name">Get Instance</button><br><br>
    <button id="goToQueue" class="normal-button" title="Scroll to the queue">Go to queue</button><br><br>
    <button id="goToGlobalSearch" class="normal-button" title="Scroll to the global search">Go to search</button>
  </div>
  <hr style="border: 1px solid #4CAAB8;">
  <div class="processGroups">
    <h2 style="color:#4CAAB8; ">Process Groups</h2><br>
    <button id="getProcessGroups" class="normal-button" title="Fetches all the process groups&#013;And their details onto the extension">Fetch Process Groups</button><br><br>
    <button id="addAllItemsToQueue" class="normal-button" title="Add all items to the queue">Add all items to queue</button><br><br>
    <button id="clearProcessGroupsResult" class="normal-button" title="Clear the process groups result">Clear</button><br>
    <div id="processGroupsResult"></div>
  </div>
  <br><br>
  <hr style="border: 1px solid #4CAAB8;">
  <div class="queue">
    <h2 style="color:#4CAAB8; ">Queue</h2><br>
    <button id="clearQueue" class="normal-button" title="Clears the queue">Clear Queue</button><br><br>
    <button id="copyQueue" class="normal-button" title="Copies the queue data in csv format">Copy Queue</button><br><br>
    <div id="queueTableResult"></div>
  </div>
  <br><br>
  <hr style="border: 1px solid #4CAAB8;">
  <div class="globalSearch">
    <h2 style="color:#4CAAB8; ">Global Search</h2><br>
    <input type="text" id="search_keyword" placeholder="Type the keyword to search"><br><br>
    <button id="getSearchResults" class="normal-button" title="Searches for given keyword&#013;In the current Nifi instance&#013;(Only process group level)">Search</button><br><br>
    <button id="copySearchResults" class="normal-button" title="Copies the search results data in csv format">Copy Search Results</button><br><br>
    <button id="clearGlobalSearchResult" class="normal-button" title="Clears the search results">Clear Search Results</button><br>
    <div id="globalSearchResult"></div>
  </div>
  <script src="../js/utils.js"></script>
</body>

</html>