html {
    scroll-behavior: smooth;
    border-left: 6px solid #189AB4;
}

body {
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-primary {
    background-color: #189AB4;
    border: 1px solid #189AB4;
    border-radius: 0%;
    color: black;
    font-weight: 600;
}

.table-secondary {
    background-color: #333;
}

.bg-navy {
    color: white;
    background-color: #189AB4;
}

.bg-green {
    color: white;
    background-color: green;
}

.bg-grey {
    background-color: #333;
}

.bg-indigo {
    background-color: indigo;
    color: white;
}

.bg-light-navy {
    background-color: #12384f;
    color: white;
}

.bg-white {
    color: black;
    background-color: whitesmoke;
}

.text-black {
    color: black;
}

#instanceName {
    color: tomato;
    font-weight: bold;
    font-size: medium;
    padding: 16px;
}

#processGroupsResultTable {
    font-size: small;
}

#QueueTable {
    font-size: small;
}

#getSearchResults {
    display: none;
}

#searchKeyword {
    display: none;
}

#clearSearchResult {
    display: none;
}

#copySearchResults {
    display: none;
}

#clearQueue {
    display: none;
}

#copyQueue {
    display: none;
}

#addAllItemsToQueue {
    display: none;
}

#clearProcessGroupsResult {
    display: none;
}

#getProcessGroups {
    display: none;
}

#SearchTable {
    font-size: small;
}

#utcTime {
    font-size: small;
}

#omniDataStore {
    font-size: small;
}