body {
    margin: 50px;
    font-size: medium;
    background-color: black;
    color: white;
}

.btn-primary {
    background-color: #189AB4;
    border: 1px solid #189AB4;
    border-radius: 0%;
    color: black;
}